<header>


    <a href="/" class="ddivera1">
      <p> <span class="spdd">𝒮𝓉𝑒𝓅</span> <br> <span class="spdd1">Restourant</span> </p>
    </a>

    
<div class="header1"> 
          
      <a class="a1" href="index.html">Home</a>
      <a href="#">Cart</a>

</div> 
    

<div class="navigation">

    <button class="hamburger" onclick="show()">
      <div id="bar1" class="bar"></div>
      <div id="bar2" class="bar"></div>
      <div id="bar3" class="bar"></div>
    </button>


  <nav>
      <ul>
          <a href="index.html"><li><a>Home</a></li></a>
          <a href=""><li><a>Cart</a></li></a>
      </ul>
      
  </nav>

</div>





</header>


<h1 class="h1dd">𝒞𝒶𝓉𝑒𝑔𝑜𝓇𝒾𝑒𝓈:</h1>





