body {
    font-family: 'Roboto', serif;
    margin: 0;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #221c1c;
    color: white;
    border-radius: 40px;
    

}


header a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: bold;
   
   
    

}


.header1 a {
    text-decoration: none;
    color: rgb(230, 230, 216); 
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    padding: 10px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s;
}



.header1 a:hover {
    background-color: rgb(229, 16, 16); 
    color: #221c1c; 
    transition: 0.3s;
    transform: translateX(2px);
}


.header1 {
    display: flex;
}

p {
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}

.ddivera1 p .spdd {
    color: rgb(190, 37, 37);
    font-size: 32px;
}

.ddivera1 p .spdd1 {
    color: rgb(196, 196, 175);
    font-family: Georgia, 'Times New Roman', Times, serif;
}











nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
    
}

.navigation{
    position: fixed;
    right: -500px;
    width: 350px;
    height: 50%;
    background-color: #221c1c;
    transition: .5s;
    border-radius: 10%;
    margin-top: -25px;
    
}

.navigation ul li{
    color: rgb(236, 228, 228);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
    border-bottom: 1pt solid red;
}
.navigation ul li:hover {
    color: red;
    transition: 0.5s;
}

.hamburger, .bar{
    position: fixed;
   
}

.hamburger{
    display: none;
    top: 5%;
    left: 95%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border: 0; 
     background: 0 0;
 
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
    background-color: lightblue;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    right: 0;
}

.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}
@media screen and (max-width:750px) {

    .hamburger {
        display: flex;
        margin-left: -100px;
        margin-top: 25px;
    }
    .header1 {
       display: none;
    }

}







